body,
html {
    margin: 0;
    height: 100%;
    padding: 0;
    background: #000;
    background-size: cover;
    /* ensures smooth scaling */

    font-family: "Roboto", sans-serif;
    color: white;
    overflow: hidden
}

.title {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
    font-family: "Indie Flower", cursive;
}

.container {
    width: 90%;
    max-width: 80vh;
    height: 95vh;
    /* full viewport height minus title */
    margin: 1vh auto;
    padding: 20px;
    background: #5a5e56;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.likebutton,
.commentbutton {
    position: absolute;
    left: 20px;
    transform: translateY(-50%);
    transition: opacity 0.1s ease, color 0.1s ease;
    color: white;
}

.likebutton {
    bottom: 140px;
}

.commentbutton {
    left: 21px;
    bottom: 110px;
}

.likebutton.active {
    color: red;
}

.commentsection {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: #333;
    border-radius: 10px;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;

}

.commentsection.active {
    bottom: 20px;
    display: block;
}

.commentsection .textarea {
    color: white;
    /* text user types */
    background-color: #222;
    /* dark background for the textarea */
    border: 1px solid #555;
    /* optional border */
    caret-color: white;
    /* cursor color */
    font-family: "Roboto", sans-serif;
    /* optional font */
    font-size: 1rem;
    /* optional font size */
}

.commentsection .textarea::placeholder {
    color: #aaa;
    /* placeholder text color */
    opacity: 1;
    /* ensure placeholder is fully colored */
}

.comment-close {
    background: #555;
    color: white;
    font-weight: bold;
    line-height: 1;
}

.hide-on-scroll {
    opacity: 0;
    pointer-events: none;
}

#feed {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* more spacing between posts */
    padding: 10px;
    scrollbar-color: #5a5e56 transparent;
    scrollbar-width: none
}

.post {
    scroll-snap-align: start;
    background: #474646;
    border-radius: 20px;
    padding: 10px;
    font-size: 1.5rem;
    /* larger text */
    min-height: 87vh;
    /* makes each post tall, like TikTok video cards */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: margin 0.4s ease;
    margin-top: 10px;
    /* initial spacing between posts */
}

.post-header {
    padding: 16px;
    color: white;
    z-index: 2;
}

.video-wrapper {
    flex: 1;
}

.video-wrapper iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#loading {
    text-align: center;
    font-size: 1rem;
    color: #080707;
}